:root {
  --p-marine-blue: hsl(213, 96%, 18%);
  --p-purplish-blue: hsl(243, 100%, 62%);
  --p-pastel-blue: hsl(228, 100%, 84%);
  --p-light-blue: hsl(206, 94%, 87%);
  --p-strawberry-red: hsl(354, 84%, 57%);
  --n-cool-gray: hsl(231, 11%, 63%);
  --n-light-gray: hsl(229, 24%, 87%);
  --n-magnolia: hsl(217, 100%, 97%);
  --n-alabaster: hsl(231, 100%, 99%);
}

@font-face {
  font-family: "Regular";
  src: url("assets/fonts/Ubuntu-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Medium";
  src: url("assets/fonts/Ubuntu-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Bold";
  src: url("assets/fonts/Ubuntu-Bold.ttf") format("truetype");
}

body {
  background-color: var(--n-magnolia);
  color: var(--p-marine-blue);
}

#root,
#wrapper {
  width: 100%;
  height: 100%;
}

#wrapper {
  font-family: "Regular", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--n-magnolia);
}

.medium {
  font-family: "Medium", sans-serif;
}

.bold {
  font-family: "Bold", sans-serif;
}

.form-wrapper {
  @media (max-width: 850px) {
    flex-direction: column;
    padding: 0;
    height: 100%;
    width: 100%;
    border-radius: 0;
  }
  width: min(60rem, 100% - 3rem);
  height: 38rem;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 0 5px var(--n-light-gray);
  background-color: white;
  display: flex;
}

.left-section {
  @media (max-width: 850px) {
    width: 100%;
    border-radius: 0;
    background-image: url("assets/images/bg-sidebar-mobile.svg");
    height: 15rem;
  }
  background-image: url("assets/images/bg-sidebar-desktop.svg");
  background-size: cover;
  width: 17.5rem;
  height: 100%;
  border-radius: 1rem;
  color: white;
  padding: 2rem;
}

.left-section-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  @media (max-width: 850px) {
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }
}

.step {
  display: flex;
  gap: 1rem;

  & h2,
  h4 {
    line-height: 1;
    text-transform: uppercase;
  }
  & h2 {
    font-size: 1rem;
  }
  .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .step-circle {
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .step-circle.fill {
    background-color: var(--p-light-blue);
    color: var(--p-marine-blue);
  }
}

.right-section {
  position: relative;
  /* flex-grow: 1; */
  /* border: 1px solid black; */
  max-width: 30rem;
  margin-inline: auto;

  @media (max-width: 850px) {
    background-color: var(--n-magnolia);
    max-width: unset;
    width: 100%;
  }

  .form {
    margin-left: 1.5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    @media (max-width: 850px) {
      margin-left: initial;
      display: block;
      height: 100%;
    }
  }
}

.input-field {
  & label {
    margin-bottom: 0.5rem;
    display: inline-block;
  }

  & input {
    width: 100%;
    border: 1px solid var(--n-light-gray);
    padding: 0.75rem;
    border-radius: 0.5rem;
    font-size: 1em;
    margin-bottom: 1rem;
    font-family: "Regular", sans-serif;

    &:focus {
      outline: none;
      border: 1px solid var(--p-marine-blue);
    }

    &.invalid {
      border-color: var(--p-strawberry-red);
    }
  }

  .required-message {
    color: var(--p-strawberry-red);
    float: right;
  }
}

.plans {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin-bottom: 2rem;

  @media (max-width: 850px) {
    display: flex;
    flex-direction: column;
  }

  .plan-item {
    border: 1px solid var(--n-light-gray);
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    .text {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      @media (max-width: 850px) {
        margin-left: 0.5rem;
      }
    }

    @media (max-width: 850px) {
      flex-direction: row;
    }

    .icon {
      width: 40px;
      margin-bottom: 2rem;
      @media (max-width: 850px) {
        margin-bottom: initial;
      }
    }

    &.selected {
      border-color: var(--p-marine-blue);
      background-color: var(--n-magnolia);
    }

    &:hover {
      cursor: pointer;
    }
  }

  & h2,
  h3 {
    font-size: 1em;
  }
  & h3 {
    color: var(--n-cool-gray);
  }
  & h4 {
    font-size: 0.75em;
  }
}

.plan-toggle {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--n-alabaster);
  border-radius: 0.5rem;

  & h2 {
    font-size: 1em;
  }
  .switch {
    display: block;
    width: 3rem;
    height: 1.5rem;
    &:hover {
      cursor: pointer;
    }
  }
  & input {
    display: none;
  }
  .slider {
    width: 100%;
    height: 100%;
    display: block;
    background-color: var(--p-marine-blue);
    border-radius: 0.75rem;
    position: relative;
  }

  .slider::before {
    content: "";
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-color: white;
    border-radius: 50%;
    top: 0.25rem;
    left: 0.25rem;
    transition: left 0.1s;
  }

  & input:checked + .slider::before {
    left: 1.75rem;
  }
}

.add-ons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.add-on {
  .checkbox {
    width: 100%;
    height: 100%;

    :hover {
      cursor: pointer;
    }

    .wrapper {
      border-radius: 0.5rem;
      border: 1px solid var(--n-light-gray);
      padding: 1rem;
      display: flex;
      gap: 1rem;
      align-items: center;
      /* background-color: var(--n-magnolia); */
    }
    .wrapper:has(input:checked) {
      background-color: var(--n-magnolia);
      border-color: var(--p-marine-blue);
    }

    & input {
      display: none;
    }
    .box {
      width: 1.5rem;
      height: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid var(--n-light-gray);
      border-radius: 0.25rem;
    }
    & input:checked + .box {
      background-color: var(--p-purplish-blue);
      border-color: var(--p-marine-blue);
    }
  }
  .text {
    .title,
    .description {
      font-size: 1em;
    }
    .description {
      color: var(--n-cool-gray);
    }
  }
  .price {
    margin-left: auto;
    color: var(--p-purplish-blue);
  }
}

.summary {
  .card {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background-color: var(--n-alabaster);
  }
  .top .plan h2 {
    text-transform: capitalize;
  }
  .top h3,
  .bottom h2,
  .total h2 {
    color: var(--n-cool-gray);
  }
  .top h3 {
    text-decoration: underline;
    cursor: pointer;
  }
  .total h1 {
    font-size: 1.5rem;
    color: var(--p-purplish-blue);
  }
  .top,
  .bottom .add-on,
  .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .bottom {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .total {
    padding-inline: 1.5rem;
    margin-top: 1rem;
  }
  & h2,
  & h3 {
    font-size: 1em;
  }
  & hr {
    margin: 1rem 0;
    border: none;
    height: 1px;
    background-color: var(--n-light-gray);
  }
}

.thank-you {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  height: 35rem;

  @media (max-width: 850px) {
    height: 28rem;
  }

  & img {
    margin-bottom: 1rem;
  }

  & p {
    text-align: center;
    color: var(--n-cool-gray);
    line-height: 1.5em;
  }
}

.form-title {
  & h1 {
    margin: 3rem 0 0.5rem;
  }
  & h3 {
    color: var(--n-cool-gray);
    font-size: 1em;
  }
  margin-bottom: 2rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  margin-top: auto;

  @media (max-width: 850px) {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }

  & button {
    border-radius: 0.5rem;
    height: 3rem;
    width: 8rem;
    font-size: 1em;
    border: none;
    font-family: inherit;
    cursor: pointer;
    background-color: transparent;
  }

  & button.back {
    width: auto;
    color: var(--n-cool-gray);
  }

  & button.next {
    background-color: var(--p-marine-blue);
    color: var(--n-magnolia);
    margin-left: auto;
  }

  & button.confirm {
    background-color: var(--p-purplish-blue);
    color: white;
  }

  @media (max-width: 850px) {
    background-color: white;
    box-shadow: 0 0 3px var(--n-light-gray);
    padding: 1rem;
  }
}

@media (max-width: 850px) {
  .desktop {
    display: none !important;
  }

  .left-section {
    height: 12rem;
  }
  .right-section {
    flex-grow: 1;
  }

  .form-content-wrapper {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: -3px 10px 20px var(--n-light-gray);
    /* transform: translateY(-8rem); */
    background-color: white;
    left: 0;
    right: 0;
    top: -6rem;
    margin-inline: auto;
    width: min(35rem, 100% - 2rem);
    position: absolute;
  }

  .form-title h1 {
    margin-top: 0.5rem;
    font-size: 1.5rem;
  }
}
